


/*Custom CSS
*/
body{
    font-family: Gotham;
    color: white;
    position: relative;
}

h1, h2{
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.4em;
    text-align: center;
}

.section{
    background-color: #414141;
}

.header_slide{
    vertical-align: top;
    width: 100%;
    height: 20%;
}

table{
    width: 100%;
    margin: 0px;
}

/*Section 0 (titre)
*/
#section0{
    background-image: url("../../Ressources/Images/illus-fond160316.svg");
	background-position: center center;
	background-size: 100% 100%;
}

#section0 h1{
    font-size: 3em;
}

#section0 h2{
    font-size: 2em;
}

/*Section2
*/
#infos_CROS{
    float: left;
    width: 30%;
    margin-left: 3%;
}

#infos_CROS h1{
    font-size: 1em;
}

#barchart{
    float: right;
    width: 57%;
    margin-left: 5%;
    margin-right: 5%;
}

p{
    font-size: 140%;
    width: 90%;
}

/*Section6
*/
#section6 #map{
    float: left;
}

#section6 path {
  stroke: #fff;
  stroke-width: .5px;
}

#section6 path:hover {
  fill: green;
}

#section6 path:selected {
    fill: blue;
}

#section6 .chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
#section6 .histogram-legend{
    color:black;
}