#map { position:absolute; top:150px; bottom:0; width:100%; }

#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 160px;
    right: 10px;
    border-radius: 3px;
    width: 160px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 18px;
    color: #000000;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #65CEC2;
    color: #ffffff;
}

#menu a.active:hover {
    background: #65CEC2;
}

.mapboxgl-popup {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
    font-weight: 700;
}

/////////// BARRE DE RECHERCHE ////////////////
.button:hover, .button.active {
    background-color: #52a1d8;
}
.input-pill input[type='text'] + .button {
    border-left-width: 0;
    border-radius: 0 3px 3px 0;
}
.button:hover, .button.active {
    color: #fff;
}
.col4 {
    float: left;
    width: 33.3333%;
    max-width: 400px;
}
.button {
    background-color: #3887be;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 0px;
    padding: 10px;
    position: relative;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Open Sans Bold', sans-serif;
    line-height: 20px;
    font-size: 12px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}
input, select, button {
    vertical-align: top;
}

.input-pill input[type='text'], .input-pill input[type=text]:focus {
    border-right-width: 0;
}

textarea, input[type=password], input[type=text], input[type=date], input[type=email], input[type=number] {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-transition: border-color .05s;
    -moz-transition: border-color .05s;
    -ms-transition: border-color .05s;
    transition: border-color .05s;
}

textarea, input[type=password], input[type=text], input[type=date], input[type=email], input[type=number] {
    display: inline-block;
    height: 40px;
    margin: 0;
    color: rgba(0,0,0,.5);
    padding: 10px;
    -webkit-appearance: none;
}

input, select, button {
    vertical-align: top;
}

input[type="button" i], input[type="submit" i], input[type="reset" i] {
    -webkit-appearance: push-button;
    -webkit-user-select: none;
    white-space: pre;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    padding: 1px 6px;
}

.mapboxgl-popup-close-button{
    font-size: 100%;
    position : absolute;
    left : 0;
    top : 0;
    border : none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    
}

.mapboxgl-popup-content {
    width : 100px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);

    font-family: 'Roboto', sans-serif;
    
}




