@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,900italic,900,700italic,700,600italic,600,400italic,300italic,300);

*{
	font-family: 'Source Sans Pro', sans-serif;
}
a{
	text-decoration: none;
	color:white;
}
p,h1,h2,h3{
	
	margin:0;
}


html{
	background:#F0F2EB;
	padding:0;
	margin:0;
}
body{
	padding:0;
	margin:0;
}
header{
	padding:40px;
}
header h1{
	color:#6591AA;
	font-weight:200;
}
.logoLeft{
	float:left;
}
.infosRight{
	float:right;
}
.infosRight img{
	width:25px;
}
.indexContent{
	text-align: center;
}
.indexContent h1{
	padding-top:150px;
}
.btn{
	background:#6591AA;
	width:100px;
	height:auto;
	color:white;
	text-align: center;
	border-radius:100px;
	padding:10px 35px 10px 35px;
}
.btnExplorer{
margin:0 auto;
margin-top:50px;
}
.btnEnsavoir{
	margin:0 auto;
	width:150px;
}
.btnExplorer:hover{
	cursor:pointer;

}
.sideBar{
	border-left:1px solid #DEE2E2;
	padding:30px;
	height:100vh;
	width:300px;
	background:white;
	position:fixed;
	top:0;
	right:0;

}
.description {
	margin-bottom:20px;
}
.description h1{
	font-size:22px;
	margin-bottom:10px;
}