/*  **************************************************  */
/*                      Général                         */
/*  **************************************************  */
body {
    color: #494949;
}

#container {
    width: 960px;
    margin: 0 auto;
}

.section {
    background-color: #FFFFDF;
}

/*
footer {
    background-color: white;
}
*/

/*  **************************************************  */
/*                      Bouton home                     */
/*  **************************************************  */
#home {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    border: 0;
    
    /* Transformation */
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
}

#home:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*  **************************************************  */
/*                      Bandeau                         */
/*  **************************************************  */
#bandeau {
    padding: 8px;
}

#bandeau li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
}

#bandeau img {
    height: 46px;
}

#bandeau #datasport {
    margin: 20px 0;
    height: 100px;
    float: left;
}

#bandeau ul {
    text-align: center;
}

#bandeau .institutionnel {
    height: 48px;
}

/*  **************************************************  */
/*                      Dataviz1                        */
/*  **************************************************  */
text {
    font-family: "source sans pro";
    font-size: 12px;
}

rect.child,
rect.parent {
    fill: #9BC8D9;
    stroke: #fff;
}

rect.parent,
.grandparent rect {
    stroke-width: 1px;
}

.grandparent rect {
    fill: orange;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #F56D34;
    opacity: .9;
}

.children:hover rect.child {
    /*  fill: #bbb;*/
    fill: black;
}

#dataviz1 {
    width: 800px;
    margin-left: 80px;
    margin-right: -80px;
    height: 100%;
}

#titreDataviz1 {
    width: 600px;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    font-family: "source sans pro";
}

#titreDataviz1 p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#infos_licencies {
    display: inline-block;
    float: right;
    width: 150px;
    color: #C56534;
    font-family: "source sans pro";
    text-align: center;
}

.nombreLicencies {
    
    font-size: 48px;
    font-weight: bold;
}

.texteLicencies {

    font-size: 29px;
    font-weight: bold;
}

#nomRegion {
    margin-top: 30px;
    font-size: 15px;
}

#infosCalcul {
    color: #494949;
    font-size: 15px;
    font-style: italic;
    text-align: left;
    margin-top: 30px;
}

#dataviz1 p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#sep {
    border-color: #C56534;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid;
    width: 90px;
}

/*  **************************************************  */
/*                      Dataviz2                        */
/*  **************************************************  */
#pieChart, #barChart {
    display: inline-block;
}