#container {
    width: 960px;
    margin: 0 auto;
}

.section {
    background-color: #f7f5ed;
}

header{
  text-align: center;
  background-color: #0066CC;
  color: white;
  padding: 10px;
}

header + p {
  text-align: center;
  display:block;
  height: 600px;
  line-height: 600px;
}

footer p
{
  font-size: small;
}

footer{

    background-color: white; 
    
}
#bandeau {
      padding: 8px;
}

#bandeau li{
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0 12px;
}


#bandeau img{
      height: 46px;
}

#bandeau #datasport{
      margin: 20px 0;
      height: 100px;
      float: left;
}

#bandeau ul{
      text-align: center;
}

#bandeau .institutionnel{
  height: 48px;
}

div span {
    vertical-align: middle;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}






.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}