<header>
    <div class="logoLeft">
         <h1>Hyblab</h1>
         <h2>Analyser la création d'emploi du CNDS</h2>
    </div>
    <div class="menuRight">
        <ul>
            <li><a href="#intro"><img src="icons/curve_stroke.svg"><p>Emploi CNDS</p></a></li>
            <li><a href="#pageone"><img src="icons/dot_stroke.svg"><p>La carte</p></a></li>
            <li><a href="#pagethree"><img src="icons/map_stroke.svg"><p>À propos</p></a></li>
        </ul>
    </div>
    <div class="infosRight">

    </div>
</header> 
