<header>
    <div class="logoLeft">
       <h1>HYBLAB</h1>

   </div>
   <div class="menuRight">
    <ul>
    <li><a href="#intro"><p>Emploi CNDS</p></a></li>
        <li><a href="#pageone"><p>La carte</p></a></li>

        <li class="active"><a href="#pagethree"><p>À propos</p></a></li>
    </ul>
</div>
<div class="infosRight">

</div>
</header>


<div class="container-intro">
    <h2>Le Projet</h2>
    <hr>
    <p>Le datasport est un rassemblement d’étudiants de l’Ecole de design de Nantes, de Polytech, du STAPS et de l’IUT de la Roche sur Yon autour d’une base de données pour proposer des pistes d’études à un porteur de projet. Chaque équipe est sur un projet différent. <br>
Notre équipe intitulée la Team Tout Neuf était lancée sur une étude du dispositif emploi CNDS dans le département de la Loire Atlantique. Le dispositif Emplois CNDS (ancien Plan Sport-Emploi), a été mis en place en 1996, il a pour objet de favoriser la structuration de l’emploi dans les associations sportives en abaissant le coût des emplois créés par l’octroi, après signature d’une convention, d’une aide financière dégressive sur 4 ans. <br>
Notre team s’est concentrée sur la pérennisation des emplois créés grâce à cette aide sur le département depuis la création il y a 20ans.</p>

    <h2>L'Équipe</h2>
    <hr>
    <ul>
        <li>
            <img src="img/poly.png" alt="">
            <h3>Polytech</h3>
            <p>Pauwel Almeida</p>
            <p>Jonathan Yue Chun</p>
            <p>Qian Yin</p>
        </li>

        <li>
            <img src="img/univ.png" alt="">
            <h3>Staps</h3>
            <p>Salomé Raffi</p>
            <p>Amandine Vahé</p>
            <p>Ophélie Prioux</p>
            <p>Emma Heulet</p>
            <p>Marianne Etienvre</p>
        </li>

        <li>
            <img src="img/edna.png" alt="">
            <h3>L'École de design</h3>
            <p>Clément Aupiais</p>
            <p>Maxime Bénéteau</p>
        </li>

        <li>
            <img src="img/iut.png" alt="">
            <h3>IUT La Roche sur Yon</h3>
            <p>Tipahine Saint-Félix</p>
        </li>
    </ul>

    <hr>

<a href="https://storify.com/56dd690f0e0047264424a7bb">Revivez notre aventure</a>

<iframe src="bandeau.html" frameborder="0"></iframe>
<style> iframe {
    width: 100%

    }</style>
</div>
