<header>
    <div class="logoLeft">
         <h1>HYBLAB</h1>
    </div>
    <div class="menuRight">
        <ul>
            <li><a href="#intro"><p>Emploi CNDS</p></a></li>
            <li  class="active"><a href="#pageone"><p>La carte</p></a></li>
            <li><a href="#pagethree"><p>À propos</p></a></li>

        </ul>
    </div>
    <div class="infosRight">

    </div>
</header>

<div class="bounceInRight" ng-controller="IntroCtrl">
    
    <!-- PAUWEL -->
    

    

    
    
    <div id="map">
        <h3 style="color : #FFFFFF">Ou se situent les clubs/comités qui ont bénéficié de l'aide ?</h3>
    </div>
    
    
    <script src='js/script_carte.js'></script>
    
    <div class='input-pill col12' style=' position : absolute; top : 160px; left : 40%; width : 315px; height : 100px;'>
          <input id="contenu_rechercher" class="button col4 col8" type="text" placeholder="Entrer le nom d'un club" style="font-size: 18px;
    height : 40px;
    position : absolute;
    top : 21px;
    left : -60px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
     vertical-align: bottom;">
          <input id="rechercher" class="button col4" type="submit" value="Rechercher">
            <a id="recentrer" href='' class='button icon home'>Recentrer</a>
    </div>
    <div id="menu">
        <a id="bouton_menu" href='' class='button icon home'>Recentrer</a>
    </div>
    
</div>

