<header>
    <div class="logoLeft">
         <h1>Hyblab</h1>
         <h2>Analyser la création d'emploi du CNDS</h2>
    </div>
    <div class="menuRight">
        <ul>
            <li><a href="#intro"><img src="icons/curve_stroke.svg"><p>Emploi CNDS</p></a></li>
            <li  class="active"><a href="#pageone"><img src="icons/dot_fill.svg"><p>La carte</p></a></li>
            <li><a href="#pagetwo"><img src="icons/map_stroke.svg"><p>Les associations</p></a></li>
            <li><a href="#pagethree"><img src="icons/map_stroke.svg"><p>Remerciements</p></a></li>
        </ul>
    </div>
    <div class="infosRight">

    </div>
</header>



<div class="bounceInRight" ng-controller="IntroCtrl">   
    
    <!-- PAUWEL -->
    <div class="nav">
        <ul>
            <li><a href="" onclick="perreines()">Associations perreines</a></li>
            <li><a href="" onclick="nonperreines">Associations non perreines</a></li>
        </ul>
    </div>
    <div id="map">
            
    </div>
</div>

