<header>
    <div class="logoLeft">
       <h1>HYBLAB</h1>
      
   </div>
   <div class="menuRight">
    <ul>
    <li><a href="#intro"><p>Emploi CNDS</p></a></li>
        <li><a href="#pageone"><p>La carte</p></a></li>

        <li class="active"><a href="#pagethree"><p>À propos</p></a></li>
    </ul>
</div>
<div class="infosRight">

</div>
</header>


<div class="container-intro">
    <h2>Le Projet</h2>
    <hr>
    <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid mollitia, aspernatur, tempora ut facilis, voluptates voluptate saepe iure architecto expedita vitae magnam unde possimus. Quae adipisci vitae veritatis est sunt?</strong> <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum iste, officiis. Necessitatibus corporis, architecto ex magnam, similique recusandae quaerat excepturi quod obcaecati, in ut. Provident alias quia, commodi accusantium ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit corrupti itaque asperiores magni ad cumque odit accusantium omnis voluptates similique. Incidunt debitis ipsam blanditiis minima cumque quo eligendi, accusamus reprehenderit.</p>

    <h2>L'Équipe</h2>
    <hr>
    <ul>
        <li>
            <img src="img/poly.png" alt="">
            <h3>Polytech</h3>
            <p>Pauwel Almeida</p>
            <p>Jonathan Yue Chun</p>
            <p>Qian Yin</p>
        </li>

        <li>
            <img src="img/univ.png" alt="">
            <h3>Staps</h3>
            <p>Salomé Raffi</p>
            <p>Amandine Vahé</p>
            <p>Ophélie Prioux</p>
            <p>Emma Heulet</p>
            <p>Marianne Etienvre</p>
        </li>
        
        <li>
            <img src="img/edna.png" alt="">
            <h3>L'École de design</h3>
            <p>Clément Aupiais</p>
            <p>Maxime Bénéteau</p>
        </li>

        <li>
            <img src="img/iut.png" alt="">
            <h3>IUT La Roche sur Yon</h3>
            <p>Tipahine Saint-Félix</p>
        </li>
    </ul>

</div>