<header>
    <div class="logoLeft">
         <h1>Hyblab</h1>
         <h2>Analyser la création d'emploi du CNDS</h2>
    </div>
    <div class="menuRight">
        <ul>
            <li><a href="#intro"><img src="icons/curve_stroke.svg"><p>Emploi CNDS</p></a></li>
            <li><a href="#pageone"><img src="icons/dot_stroke.svg"><p>La carte</p></a></li>
            <li class="active"><a href="#pagetwo"><img src="icons/map_fill.svg"><p>Les associations</p></a></li>
        </ul>
    </div>
    <div class="infosRight">

    </div>
</header> 
<div>
    <p>SOME TEXT</p>
</div>