#myCarousel {
  padding:0;
  margin:0;
  
}
.textoverview{
    width:500px;
    margin:auto;
    
}

.carousel-inner{
    height: 100%;
    padding:0;
    width: 100%;
    
}

.post-box, .post-box2{
    padding: 0;
    height: 100%;
}

.post-box img, .post-box2 img{
    padding-left:0;
    height:220px;
    width:100%;
    margin: 0;
}

/** Transitions Masonry **/
.masonry {
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.